*{ font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
header{


background: #f9f9f9;

padding: 20px 0;
}
.header_wrapper{

width: 90%;

margin: auto;

display: flex;

justify-content: space-between;

align-items: center;
}
.logo{

width: 20%;
}
.logo img{

}
nav{

width: 50%;
}
nav ul{

list-style: none;

display: flex;

justify-content: end;
}
nav ul li{

margin-left: 30px;
}
nav ul li a{
font-family: 'Lato', sans-serif;
   
    
text-decoration: none;
    
text-transform: uppercase;
    
color: #2D3950;
}
.banner{background-image: url(../images/bannert.png);min-height: 90vh;background-position: center;background-repeat: no-repeat;background-size: cover;display: flex;justify-content: center;align-items: center;}
.banner_content{

text-align: center;

width: 30%;
}
.banner_content h1{

color: #fff;

text-transform: uppercase;

font-size: 100px;

margin-bottom: 10px;

font-weight: 500;
}
.banner_content span{

display: block;

width: 100%;

height: 2px;

background: #15a4fa;
}
.banner_content p{

color: #fff;

margin: 20px 0 40px 0;
}
.banner_content button{background: transparent;border: none;border: 1px solid #15a4fa;padding: 15px 30px;border-radius: 5px;color: #fff;text-transform: capitalize;transition: .4s all ease-in-out;cursor: pointer;}
.banner_content button:hover{
    background-color: #15a4fa;
    color: #fff;
}
.decription{background: #f6f9f9;padding: 90px 100px;}
.story{

text-align: center;

width: 80%;

margin: auto;
}
.story h1{

color: #2d3950;

margin-bottom: 20px;

font-size: 35px;

font-weight: 400;
}
.story p{
    
color: #999999;
}
.service{

width: 90%;

margin: auto;
}
.service_section{

display: flex;

justify-content:  space-between;

padding: 80px;
}
.section_item{

width: 25%;

text-align: center;
}
.section_item h2{
    
padding: 15px;
    
color: #2d3950;
    
font-weight: 500;
}
.section_item p{
    
color: #999999;
}
.icon{

width: 80px;

height: 80px;

display: flex;

justify-content: center;

background: #48baff;

margin: auto;

align-items: center;

margin-bottom: 15px;
}
.icon i{
    
color: #fff;
    
font-size: 30px;
}